@font-face {
  font-family: 'Karu';
  src: url('../fonts/Karu-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Karu';
  src: url('../fonts/Karu-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Karu';
  src: url('../fonts/Karu-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Karu';
  src: url('../fonts/Karu-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Karu';
  src: url('../fonts/Karu-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
